/*Estilos Generales*/

*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: 'Open Sans', Verdana;	
}

body{
	background: white;
}

.clearfix{
	clear: both;
	clear: none;
}

.container{
	width: 85%;
	margin: 0px auto; /*Centrar Bloque*/
}

/*CABECERA*/

#main-header{
	background: white;
	height: 100px;
	line-height: 85px;
}

#logo{
	width: 63%;
	float: left;
}

#logo h1{
	font-weight: bold;
	font-size: 25px;
	color: #FB314E;
}

#menu{
	width: 380px;
	float: left;
}

#menu ul li{
	list-style: none;
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 50px;
	margin-top: 30px;
	height: 200px;
	line-height: 0px;
}

#menu ul li a{
	color: black;
}

#menu ul li a:hover{
	color: black;
	color: #FB314E;
}

/*SLIDER*/

#slider{
	height: 300px;
	background: #FB314E;
}

#slider h2{
	font-size: 40px;
	text-align: center;
	color: white;
	line-height: 290px;
	text-shadow: 0px 0px 6px black;

}

/*SERVICIOS*/

.subheader{
	font-size: 34px;
	color: #333;
	margin-top: 40px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(251, 49, 78, 0.3);
	text-align: center;
}

.servicios, .videos{
	width: 33%;
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;

}

.servicios img{
	height: 300px;
	margin-bottom: 20px;
}

.servicios h3{
	margin-bottom: 10px;
}

.servicios p, .videos p{
	color: #444;
	font-size: 15;
	text-align: center;
	display: block;
	width: 85%;
	margin: 0px auto;
}

/*VIDEOS*/

.videos iframe{
	width: 80%;
}

/*CONTACTO*/

#footer{
	background: #333;
	padding-top: 5px;
	padding-bottom: 40px;
	margin-top: 30px;
	text-align: center;
	color: white;
	height: 200px;

}

#footer .subheader{
	color: white;

}

/*
MEDIA QUERY

@media all and (min-width: 1000px){

	#main-header{
		background: black;
	}
}
*/

@media (max-width: 1225px){
	.container{
		width: 95%
	}
}

@media (max-width: 1085px){
	
	#main-header{
		height: 70px;
		line-height: 65px;
	}

	.logo{
		width: 227px
		float: none;
		margin: 0px auto;
	}

	#menu{
		float: none;
		margin: 0px auto;
	}
}

@media (max-width: 943px){

	#menu{
		width: 100%;
		text-align: center;
	}
	#menu ul li{
		margin-left: 4%;
		margin-right: 4%;
	}
}

@media (max-width: 900px){
	#menu ul li{
		margin-left: 1%;
		margin-right: 1%;
	}
}